[Desktop Entry]
Encoding=UTF-8
Name=Link to Erase Securely – Kattis, Kattis
Type=Link
URL=https://open.kattis.com/problems/erase
Icon=text-html
Name[en_US]=Erase Securely
