[Desktop Entry]
Encoding=UTF-8
Name=Link to Bounding Robots – Kattis, Kattis
Type=Link
URL=https://open.kattis.com/problems/boundingrobots
Icon=text-html
Name[en_US]=Bounding Robots
